<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busca de Voos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://unpkg.com/pikaday@1.7.0/pikaday.js"></script>
    <script src="/js/seletor-de-data.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/pikaday@1.7.0/css/pikaday.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        form .input {
            border-radius: 0;
            box-shadow: 0 0 0;
        }
    </style>
</head>
<body>

<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <h1 class="title is-size-1"> ACELERADORA AIRLINES </h1>
                </div>

                <div class="column is-7">
                    <div class="box has-background-white-ter">
                        <h2 class="subtitle has-text-grey-dark"> Busque seu voo </h2>
                        <form action="/airline/busca" method="post">

                            <div class="field is-grouped">
                                <div class="control">
                                    <label class="label">Origem</label>
                                    <input class="input" type="text" placeholder="POA" name="origem" autocomplete="off">
                                </div>

                                <div class="control">
                                    <label class="label">Destino</label>
                                    <input class="input" type="text" placeholder="MIA" name="destino" autocomplete="off">
                                </div>
                            </div>

                            <hr>

                            <div class="field is-grouped">
                                <div class="control">
                                    <label class="label">Data de ida</label>
                                    <input class="input datepicker" type="text" name="dataIda" id="data-ida" autocomplete="off">
                                </div>

                                <div class="control">
                                    <label class="label">Data de volta</label>
                                    <input class="input" type="text" name="dataVolta" id="data-volta" autocomplete="off">
                                </div>
                            </div>

                            <hr>

                            <div class="field is-grouped">
                                <div class="control">
                                    <label class="label">Passageiros</label>
                                    <input class="input" type="number" name="adultos" min="1" max="10" value="1">
                                </div>
                            </div>

                            <hr>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary" type="submit">BUSCAR</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        var seletorDataIda = seletorDeData('#data-ida');

        var seletorDataVolta = seletorDeData('#data-volta');
    })
</script>
</body>
</html>