<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Itinerarios Encontrados</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
</head>
<body>
<nav class="panel is-marginless">
    <div class="panel-block has-background-primary">
        <form action="/airline/busca" method="post">
            <div class="container is-fluid">
                <p class="heading">Alterar busca</p>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="columns is-multiline">
                            <div class="control column">
                                <label class="label heading">Origem</label>
                                <input class="input is-radiusless is-shadowless" type="text" placeholder="POA" name="origem"
                                       th:value="${busca.origem}" autocomplete="off">
                            </div>
                            <div class="control column">
                                <label class="label heading">Destino</label>
                                <input class="input is-radiusless is-shadowless" type="text" placeholder="MIA" name="destino"
                                       th:value="${busca.destino}" autocomplete="off">
                            </div>
                            <div class="control column">
                                <label class="label heading">Data de ida</label>
                                <input class="input datepicker is-radiusless is-shadowless" type="text" name="dataIda" id="data-ida"
                                       autocomplete="off">
                            </div>
                            <div class="control column">
                                <label class="label heading">Data de volta</label>
                                <input class="input is-radiusless is-shadowless" type="text" name="dataVolta" id="data-volta"
                                       autocomplete="off">
                            </div>
                            <div class="control column">
                                <label class="label heading">Passageiros</label>
                                <input class="input is-radiusless is-shadowless" type="number" name="adultos" min="1" max="10"
                                       th:value="${busca.adultos}">
                            </div>
                            <div class="control column is-12">
                                <button class="button is-primary is-inverted is-outlined" type="submit">BUSCAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>

<div class="section has-background-white-bis">
    <div class="container">
        <h1 class="title">Escolha seu voo</h1>
    </div>
</div>



<section class="section">
    <section class="section">

        <div class="container">


            <div class="columns is-multiline">
                <div class="column is-12" th:each="voo : ${voos}">
                    <div class="box is-paddingless flight-detail">
                        <nav class="level has-background-white-ter flight-detail-header">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${voo.itinerario.origem.iata}"></p>
                                    <p class="heading" th:text="${voo.itinerario.origem.cidade}"></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${voo.itinerario.destino.iata}"></p>
                                    <p class="heading" th:text="${voo.itinerario.destino.cidade}"></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div th:if="${@formatadores.voo.quantidadeParadas(voo) >= 1}">
                                    <p class="title" th:text="${@formatadores.voo.quantidadeParadas(voo)}"></p>
                                    <p class="heading"
                                       th:text="${@formatadores.voo.quantidadeParadas(voo) > 1 ? 'Paradas' : 'Parada'}"></p>
                                </div>

                                <div th:if="${@formatadores.voo.quantidadeParadas(voo) == 0}">
                                    <p class="heading">direto</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${@formatadores.voo.duracaoEmHoras(voo)}"></p>
                                    <p class="heading">Horas de voo</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">À partir de</p>
                                    <p class="title">R$40</p>
                                </div>
                            </div>
                        </nav>

                        <div class="container is-hidden no-opacity flight-detail-body">
                            <div class="columns is-multiline">

                                <div class="column is-11 is-offset-1">
                                    <section class="section">
                                        <ul class="steps has-content-centered has-gaps is-centered">
                                            <li class="steps-segment"
                                                th:each="parada, paradaIdx : ${@formatadores.voo.percurso(voo)}">
                                                <span class="steps-marker">
                                                    <span th:switch="${paradaIdx.index}">
                                                        <i class="fa fa-plane-departure" th:case="0"></i>
                                                        <i class="fa fa-plane-arrival"
                                                           th:case="${@formatadores.voo.quantidadeParadas(voo) + 1}"></i>
                                                        <i class="fa fa-plane" th:case="*"></i>
                                                    </span>
                                                </span>
                                                <div class="steps-content">
                                                    <p class="has-text-weight-bold" th:text="${parada.iata}"></p>
                                                    <p class="is-size-7" th:text="${parada.nome}"></p>
                                                    <p class="is-size-7 has-text-weight-bold"
                                                       th:text="${parada.cidade}"></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </div>

                                <div class="column is-10">
                                    <section class="section is-paddingless">
                                        <div class="pricing-table is-comparative">

                                            <div class="pricing-plan is-features">
                                                <div class="plan-header">&nbsp;</div>
                                                <div class="plan-items">
                                                    <div class="plan-item has-text-dark">
                                                        <span> Bagagem de mão </span>
                                                        <span class="icon"> <i class="fas fa-briefcase"></i> </span>
                                                    </div>
                                                    <div class="plan-item has-text-dark">
                                                        <span> Bagagem Despachada </span>
                                                        <span class="icon"> <i class="fas fa-luggage-cart"></i> </span>
                                                    </div>
                                                    <div class="plan-item has-text-dark">
                                                        <span> Cancelamento </span>
                                                        <span class="icon"> <i
                                                                class="fas fa-calendar-times"></i> </span>
                                                    </div>
                                                    <div class="plan-item has-text-dark">
                                                        <span> Remarcação</span>
                                                        <span class="icon"> <i class="fas fa-clock"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="plan-price"><span class="plan-price-amount">&nbsp;</span>
                                                </div>
                                                <div class="plan-footer"></div>
                                            </div>

                                            <div class="pricing-plan is-warning">
                                                <div class="plan-header has-background-warning">BASIC</div>
                                                <div class="plan-items">
                                                    <div class="plan-item has-background-white-bis">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon"> <i class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon"> <i class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon"> <i class="fas fa-times"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="plan-price"><span class="plan-price-amount"><span
                                                        class="plan-price-currency">R$</span>40</span></div>
                                                <div class="plan-footer">
                                                    <input type="radio">
                                                </div>
                                            </div>

                                            <div class="pricing-plan is-primary">
                                                <div class="plan-header has-background-primary">FLEX</div>
                                                <div class="plan-items">
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon"> <i class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span>Custo adicional</span>
                                                    </div>
                                                </div>
                                                <div class="plan-price"><span class="plan-price-amount"><span
                                                        class="plan-price-currency">R$</span>60</span></div>
                                                <div class="plan-footer">
                                                    <input type="radio">
                                                </div>
                                            </div>

                                            <div class="pricing-plan is-danger">
                                                <div class="plan-header has-background-danger">PREMIUM</div>
                                                <div class="plan-items">
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                    <div class="plan-item">
                                                        <span class="icon has-text-success"> <i
                                                                class="fas fa-check"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="plan-price"><span class="plan-price-amount"><span
                                                        class="plan-price-currency">R$</span>100</span></div>
                                                <div class="plan-footer">
                                                    <input type="radio" name="answer">
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="section has-background-white-bis is-fullwidth is-marginless">
                                <button class="button is-primary is-pulled-right">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<script type="text/javascript" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        /*<![CDATA[*/

        var dataIdaSelecionada = /*[[${busca.dataIda}]]*/ '';
        var dataVoltaSelecionada = /*[[${busca.dataVolta}]]*/ '';

        var seletorDataIda = CaixaDeBusca.seletorDeData('#data-ida');
        var seletorDataVolta = CaixaDeBusca.seletorDeData('#data-volta');

        seletorDataIda.setDate(dataIdaSelecionada
            ? new Date(dataIdaSelecionada)
            : new Date()
        );
        seletorDataVolta.setDate(
            dataVoltaSelecionada
                ? new Date(dataVoltaSelecionada)
                : new Date()
        );

        document
            .querySelectorAll('.flight-detail')
            .forEach((flightDetail) => {

                var flightDetailHeader = flightDetail.querySelector('.flight-detail-header');
                var flightDetailBody = flightDetail.querySelector('.flight-detail-body');

                flightDetailHeader.addEventListener('click', function (event) {
                    event.preventDefault();
                    flightDetailBody.classList.toggle('is-hidden');

                    setTimeout(() => {
                        flightDetail.scrollIntoView({
                            behavior: 'smooth'
                        });

                        if (flightDetailBody.classList.contains('no-opacity')) {
                            flightDetailBody.classList.remove('no-opacity');
                            flightDetailBody.classList.add('full-opacity');
                        } else {
                            flightDetailBody.classList.remove('full-opacity');
                            flightDetailBody.classList.add('no-opacity');
                        }

                    }, 300);

                });

            });


        /*]]>*/
    })
</script>
</body>
</html>