<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Itinerarios Encontrados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://unpkg.com/pikaday@1.7.0/pikaday.js"></script>
    <script src="/js/caixa-de-busca.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/pikaday@1.7.0/css/pikaday.css">
</head>
<body>

<section class="section">
    <section class="section">
        <div class="container">
            <nav class="panel">
                <p class="panel-heading">Alterar Busca</p>
                <div class="panel-block">
                    <form action="/airline/busca" method="post">
                        <div class="field is-grouped">
                            <div class="columns is-multiline">
                                <div class="control column">
                                    <label class="label">Origem</label>
                                    <input class="input" type="text" placeholder="POA" name="origem"
                                           th:value="${busca.origem}" autocomplete="off">
                                </div>

                                <div class="control column">
                                    <label class="label">Destino</label>
                                    <input class="input" type="text" placeholder="MIA" name="destino"
                                           th:value="${busca.destino}" autocomplete="off">
                                </div>

                                <div class="control column">
                                    <label class="label">Data de ida</label>
                                    <input class="input datepicker" type="text" name="dataIda" id="data-ida"
                                           autocomplete="off">
                                </div>

                                <div class="control column">
                                    <label class="label">Data de volta</label>
                                    <input class="input" type="text" name="dataVolta" id="data-volta"
                                           autocomplete="off">
                                </div>

                                <div class="control column">
                                    <label class="label">Passageiros</label>
                                    <input class="input" type="number" name="adultos" min="1" max="10"
                                           th:value="${busca.adultos}">
                                </div>
                                <div class="control column is-12">
                                    <button class="button is-primary" type="submit">BUSCAR</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </section>

    <section class="section">

        <div class="container">

            <h1 class="subtitle">Escolha seu voo:</h1>

            <div class="columns is-multiline">
                <div class="column is-12" th:each="voo : ${voos}">
                    <div class="box">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${voo.itinerario.origem.iata}"></p>
                                    <p class="heading" th:text="${voo.itinerario.origem.cidade}"></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${voo.itinerario.destino.iata}"></p>
                                    <p class="heading" th:text="${voo.itinerario.destino.cidade}"></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div th:if="${@formatadores.voo.quantidadeParadas(voo) >= 1}">
                                    <p class="title" th:text="${@formatadores.voo.quantidadeParadas(voo)}"></p>
                                    <p class="heading" th:text="${@formatadores.voo.quantidadeParadas(voo) > 1 ? 'Paradas' : 'Parada'}"></p>
                                </div>

                                <div th:if="${@formatadores.voo.quantidadeParadas(voo) == 0}">
                                    <p class="heading">direto</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title" th:text="${@formatadores.voo.duracaoEmHoras(voo)}"></p>
                                    <p class="heading">Horas de voo</p>
                                </div>
                            </div>
                        </nav>

                        <section class="section">
                            <footer class="footer">
                                <div class="content">
                                    <div class="columns">
                                        <div class="column is-12">
                                            <p class="heading has-text-weight-bold ">Percurso Detalhado:</p>
                                        </div>
                                    </div>

                                    <div class="columns is-multiline">
                                        <div class="column" th:each="parada : ${@formatadores.voo.percurso(voo)}">
                                            <div class="column">
                                                <div class="box has-text-left">
                                                    <p class="has-text-weight-bold" th:text="${parada.iata}"></p>
                                                    <p class="is-size-7" th:text="${parada.nome}"></p>
                                                    <p class="is-size-7 has-text-weight-bold"
                                                       th:text="${parada.cidade}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<script type="text/javascript" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        /*<![CDATA[*/

        var dataIdaSelecionada = /*[[${busca.dataIda}]]*/ 'default';
        var dataVoltaSelecionada = /*[[${busca.dataVolta}]]*/ 'default';

        var seletorDataIda = seletorDeData('#data-ida');
        var seletorDataVolta = seletorDeData('#data-volta');

        seletorDataIda.setDate(new Date(dataIdaSelecionada));
        seletorDataVolta.setDate(new Date(dataVoltaSelecionada));

        /*]]>*/
    })
</script>
</body>
</html>