<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title animated bounce delay-1s ">
                Esqueleto Ambulante
            </h1>
            <h2 class="subtitle animated bounce delay-1s">
                Um projeto mínimo com exemplos.
                <i class="fa fa-angle-up"></i>

            </h2>

            <section class="columns is-multiline">
                <div class="animated fadeInLeft column is-4">
                    <figure class="image is-128x128">
                        <img src="assets/images/capoeira.gif">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="animated fadeInUp image is-128x128">
                        <img src="/assets/images/waiting.gif">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="animated fadeInRight image is-128x128">
                        <img src="/assets/images/dancing.gif">
                    </figure>
                </div>
            </section>

        </div>
    </div>
</section>
</body>
</html>
