<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>

<section class="section">

    <div class="container is-fluid">

        <h1 class="title">Livros</h1>

        <div class="columns is-multiline">

            <div class="column is-3">
                <div class="box">
                    <h1 class="subtitle">1984</h1>
                </div>
            </div>

            <div class="column is-3">
                <div class="box">
                    <h1 class="subtitle">Admirável mundo novo</h1>
                </div>
            </div>

            <div class="column is-3">
                <div class="box">
                    <h1 class="subtitle">Fahrenheit 451</h1>
                </div>
            </div>

            <div class="column is-3">
                <div class="box">
                    <h1 class="subtitle">Maus</h1>
                </div>
            </div>

        </div>
    </div>

</section>

</body>
</html>